// Mixins in here
.btn-styling(){
    .btn{
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: @button-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 90%;
        border-radius: 0.8rem;
    }
}